<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body>

        <div ng-app="">
            <p>Name: <input type="text" ng-model="name"></p>
            <p ng-bind="name"></p>
            <p>Name2: <input type="text" ng-model="name2"></p>
            <p>{{name2}}</p>
        </div>

        <ul>
            <li>AngularJS starts automatically when the web page has loaded.</li>
            <li>the ng-app directive tells AngularJS that the &lt;div&gt; element is the "owner" of an AngularJS application.</li>
            <li>The ng-model directive binds the value of the input field to the application variable name.</li>
            <li>the ng-bind directive binds the content of the &lt;p&gt; element to the application variable name.</li>
        </ul>

    </body>
</html>